body{
    background: url(fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

h1{
    color: #00ffd5;
    font-size: 50px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

p{
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.part_1{
    background: #000000;
    height: 800px;
    position: relative;
}

.part_1 > .part_1_info1{
    height: 100%;
    width: 50%;
    border-right: #00fff2 5px dashed;
    position: absolute;
    display: flex;
    justify-content: center;
}

.part_1_info1 > .part_1_info1_fun{
    background: #000000;
    height: 30%;
    width: 80%;
    position: absolute;
    
    
}

.part_1_info1 > .rangos{
    background: url(rangos.png);
    background-repeat: no-repeat;
    background-position:center center;
    height: 60%;
    width: 80%;
    position: absolute;
    margin-top: 35%;

}

.part_1 > .part_1_info2{
    height: 100%;
    width: 50%;
    position: absolute;
    left: 50%;
    display: flex;
    justify-content: center;
}

.part_1_info2 > .part_1_info2_title{
    background: #000000;
    height: 10%;
    width: 100%;
    position: absolute;
}

.part_1_info2 > .part_1_info2_img_ec{
    background: url(ecuacion.png);
    background-repeat: no-repeat;
    background-position:center center;
    height: 15%;
    width: 40%;
    position: absolute;
    margin-top: 15%;
    border: #ffffff 10px solid;
}

.part_1_info2 > .part_1_info2_ec{
    background: #000000;
    height: 15%;
    position: absolute;
    margin-top: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.part_2{
    height: 500px;
    position: relative;
    justify-content: center;
    align-items: center;
}

.part_2 > .part_2_content{
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ec_parts{
    background-color: #00fff2;
    width: 200px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    /* IMPORTANTE */
    display: inline-block;
    color: #000000;
}

.btn_enviar{
    background-color: #000000;
    position: absolute;
    margin-top: 15%;
}

.part_btn{
    background: #000000;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.part_2_title{
    height: 20%;
    text-align: center;
}
